@page "/students"
<h1 style="text-align: center">Students</h1>
@* <style>
    .container {
        border: 2px solid #444;
        border-radius: 8px;
        padding: 10px;
    }
</style> *@
<div class="container">
    <p>This is a styled Blazor component.</p>
</div>
<div class="container2">
    <p>Yes I do, Get well Doc. Nelson</p>
</div>