@page "/"

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<div class="login-form">
    <label>
        Username:
        <input @bind="username" />
    </label>
    <br />
    <label>
        Password:
        <input type="password" @bind="password" />
    </label>
    <br />
    <button @onclick="Login">Login</button>
    <button @onclick="Signup">Sign Up</button>
</div>

@code {
    private string username = string.Empty;
    private string password = string.Empty;

    private void Login()
    {
        // Add login logic here
    }

    private void Signup()
    {
        // Add signup logic here
    }
}
